<app-manager-dashboard></app-manager-dashboard>
<div class = "main-content">
    <div class = "col-md-8 offset-md-3">
        <h3>Create Email Notification</h3>
    <form (ngSubmit)="onSubmit()" [formGroup] = "addNotificationForm" novalidate>
        <div class = "form-group">
            <label><span>*</span> Recipient Email:</label>
            <input type="email" id="recipientEmail" [(ngModel)]="email.recipientEmail" formControlName = "recipientEmail" name="recipientEmail" class = "form-control" required>
            <small class="text-danger" 
                *ngIf="addNotificationForm.get('recipientEmail').hasError('required') && addNotificationForm.get('recipientEmail').touched">
                    Recipient Email is required
            </small>
        </div>
        <div class = "form-group">
            <label><span>*</span> Subject:</label>
            <input type="text" id="subject" [(ngModel)]="email.subject" formControlName = "subject" name="subject" class = "form-control" required>
            <small class="text-danger" 
                *ngIf="addNotificationForm.get('subject').hasError('required') && addNotificationForm.get('subject').touched">
                    Subject is required
            </small>
        </div>
        <div class = "form-group">
            <label><span>*</span> Body:</label>
            <textarea id="body" [(ngModel)]="email.body" formControlName = "body" name="body" class = "form-control" required></textarea>
            <small class="text-danger" 
                *ngIf="addNotificationForm.get('body').hasError('required') && addNotificationForm.get('body').touched">
                    Body is required
            </small>
        </div>
        <button type="submit" class = "btn btn-primary" [disabled] = "!addNotificationForm.valid">Send Email</button>
    </form>
    </div>
</div> 