<div class = "main-content">
    <button (click) = "logout()" class = "btn btn-warning">Logout</button>
</div>
<nav class="vertical-navbar">
    <h5>Project Member Dashboard</h5>
    <ul>
        <li>
          <a>
            <fa-icon [icon]="faUser"></fa-icon>
            <button (click) = "viewUser(user.userId)" id = "view" class="nav-text" style = "margin-left: 33px">View Profile</button>
          </a>
        </li>
        <li class="dropdown">
            <a href="#" (click)="toggleDropdown($event)">
              <fa-icon [icon]="ticket"></fa-icon>
              <span class="nav-text" style="margin-left: 29px">Ticket<fa-icon [icon]="down" style = "font-size: 15px; margin-left: 110px"></fa-icon></span>
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
              <li><a href="tickets-list">Ticket List</a></li>
              <li><a href="raise-ticket">Raise Ticket</a></li>
              <li><a href="reopen-ticket">Reopen Ticket</a></li>
            </ul>
        </li>
    </ul>
</nav>