<app-support-dashboard></app-support-dashboard>
<div class = "main-content">
    <h3>User Profile</h3>
    <div class = "info">
        <div>
            <label>User Id: <b>{{ user.userId }}</b></label>
        </div>
        <div>
           <label>Login Id: <b>{{ user.loginId }}</b></label>
        </div>
        <div>
           <label>Password: <b>{{ user.passwordHash }}</b></label>
        </div>
        <div>
           <label>Name: <b>{{ user.name }}</b></label>
        </div>
        <div>
           <label>Email: <b>{{ user.email }}</b></label>
        </div>
        <div>
           <label>Role: <b>{{ user.role }}</b></label>
        </div>
        <div>
           <label>Created Date: <b>{{ user.createdDate }}</b></label>
        </div>
        <div>
           <label>Updated Date: <b>{{ user.updatedDate }}</b></label>
        </div>
    </div>
</div>